{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">MISSION</h1>
    <p class="lead">Mor Power. Mor Teamwork. Mor Ingenuity. MorTorq!</p>
    <hr class="my-4">
    <p>We provide a mentor-based learning environment with supportive and engaging learning opportunities that inspire current and new generations to explore the fields of science, technology, engineering, mathematics, and 21st century skills in a fun, friendly, and respectful manner.</p>
    <br>
    <p>We recognize that leadership is a shared responsibility that requires and promotes collaboration, trust, synergy, integrity, credibility, accountability, and inclusion of everyone’s principles and values.</p>
    <br>
    <p>We recognize that change and innovation are foundational processes in the execution of great leadership; we aim to offer opportunities and learning challenges to all our team members characterized by humility, ingenuity, and trusting relationships. We strive to develop new strategies to improve performance and learning outcomes.</p>
    <br>
    <p>We are a family that embraces diversity and recognizes the foundational need to create inclusive and equitable learning opportunities for all students. It is our moral responsibility to ignite their interest in science, technology, and engineering regardless of gender, race, socioeconomic status or capabilities.</p>
    <br>
    <p>We foster long lasting partnerships with community, business leaders, educational institutions, and professional practitioners to create sustainability in our STEM programs, inspire new generations, and achieve a common dialogue in better alignment with local and global economic demands and 21st century expectations in the fields of science, engineering, and technology.</p>
</div>
{% endblock %}
